<div class="search-form mt-2">
  <form class="row g-3" method="get" action="/news">
    <div class="col-md-6">
      <label for="inputName" class="form-label">Name</label>
      <input type="text" name="name" class="form-control" id="inputName" placeholder="Nhập tên" />
    </div>
    <div class="col-md-6">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" name="address" class="form-control" id="inputAddress" placeholder="Nhập địa chỉ" />
    </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
</div>